.review-cards {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 90%;
    flex: 1;
    margin-left: 20px;
}

.user {
    color: white;
}

body {
    background-color: whitesmoke;
    font-family: Arial;
    text-align: center;
    justify-content:center;
}

.profile-logout {
    position: absolute;
    right: 10px;
    border: none;
    background-color: inherit;
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    font-size: inherit;
    margin-top: 10px;
}

.saved-course-list {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
}

.course-link-review-page {
    background-color: #111111;
    color: white;
    text-decoration: none;
    text-align: left;
}

.save-course {
   position: absolute;
   border: none;
   background-color: inherit;
   color: white;
   font-size: inherit;
   right: 0;
   cursor: pointer;
   margin-top: 10px;
   margin-right: 13px;
} 

.single-saved-course {
    color: #3B83EE;
    text-decoration: none;
    font-size: 20px;
    padding-top: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-align: left;
}


.course-link-container {
    background-color: #111111;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}

.create-star-rating {
    text-align: left;
    margin-left: 20px;
}

.profile-top {
    margin-bottom: 100px;
}

.star-title {
    display: flex;
}

.profile-name {
    font-size: 30px;
}

.profile-no-reviews {
    text-align: left;
}

.review-cards {
    padding-bottom: 50px;
}

.review-course-link {
    text-align: left;
    color: #3B83EE;
    text-decoration: none;
}

.review-author {
    display: block;
    text-align: left;
}

.review {
    padding-bottom: 20px;
    text-align: left;
}


.middle-text {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:10vh;
    min-height:30px;
}

#middle-image{
    color: white;
}

.user {
    font-weight: bold;
}

.create-review {
    width: 100%;
    color: gray;
}

.star-ratings,.review-body, .review-title, .star-container{
    margin: 1px;
}

.review-left{
    flex: 0 0 120px;
    margin-right: 10px;
}

.submit-review {
    color: white;
    background-color: #111111;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.review-title{
    font-weight: bold;
}

.course-page-login {
    color: #111111;
    text-decoration: none;
}

.create-review-title {
    padding-top: 30px;
}

.create-review-title, .create-review-author {
    color: white;
    font-size: 40px;
    background-color: #111111;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 20px;
}


.course-page {
    padding-bottom: 50px;
}

.course-page-stars {
    background-color: #111111;
    text-align: left;
    padding-left: 20px;
}

.status-message {
    text-align: left;
}

.rating-text {
    color: gray;
    display: inline-block;
    margin-left: 30px;
}

.title-input {
    padding-top: 30px;
    border: none;
    color: #111111;
    border-bottom: 2px solid #111111;
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 20px;
    background-color: inherit;
}

.title-input:focus, .body-input:focus {
    outline: none;
}

.body-input {
    border: none;
    padding-top: 10px;
    background-color: inherit;
    border-top: 1px solid #111111;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    height: 100px;
    font-size: 15px;
    margin: 0px;
    padding-left: 30px;
    max-height: 200px;
}

.home-button-signup {
    color: #111111;
}

.home-button {
    color: #111111;
}

.home-button {
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 20px;
    display: block;
    float: left;
    text-decoration: none;
}

.home-button-profile {
    color: #111111;
}

.course-page-home-button {
    color: white;
}

html, #root, .Router, body {
    height: 100%;
}

@media (max-width: 360px) {
    .course-card{
      width: 100%;
    }
    .review{
      flex-direction: column;
    }
    .submit-review{
        width: 93%;
    }

    .create-review{
        max-width: 95%;
    }
  }

.review-inputs {
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: none;
    border-bottom: 2px solid #111111;
}

