.review-cards {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 90%;
    flex: 1;
    margin-left: 20px;
}

body {
    background-color: whitesmoke;
    font-family: Arial;
    text-align: center;
    justify-content:center;
}


.middle-text {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:10vh;
    font-family: 'Times New Roman', Times, serif;
    min-height:30px;
}

#middle-image{
    color: white;
}

/*
.top_bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    font-size: 100%;
    height:100%;
}

.top_bar a:hover {
    background-color: #ddd;
    color: black;
}

.top_bar a.title {
    float:left;
    background-color: #4CAF50;
    height:100%;
}
*/

.top_bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 1%;
    padding-left: 3%;
    padding-right: 3%;
    position:relative;
    text-decoration:none;
}

.top_bar a.title{
    font-weight: bold;
}



.top_bar a.title {
    float: left;
}

.top_bar a:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #f2f2f2;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.top_bar a:hover:after,
.top_bar a:focus:after,
.top_bar a:active:after{
    left: 0;
    right: auto;
    width: 100%;
}

.create-review {
    width: 100%;
    color: gray;
}

.star-ratings,.review-body, .review-title, .star-container{
    text-align: left;
    margin: 1px;
}

.create-star-rating {
    margin-bottom: 20px;
}

.review-left{
    flex: 0 0 120px;
    margin-right: 10px;
}

.submit-review {
    color: white;
    background-color: #111111;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
}

.review-author{
    text-align: center;
}

.review-title{
    font-weight: bold;
}

.create-review-title {
    padding-top: 20px;
}

.course-page-login {
    color: #111111;
    text-decoration: none;
}

.create-review-title, .create-review-author, label{
    color: white;
    font-size: 40px;
    width: 100%;
    background-color: #111111;
    padding-bottom: 30px;
}
.create-review-description{
    color: white;
    font-size: 20px;
    width: 100%;
    background-color: #111111;
    padding-bottom: 30px;
    text-align: left;
}

.rating-text{
    color: gray;
    display: inline-block;
    margin-left: 30px;
}
.submit-review{
    width: 373px;
}

.title-input{
    width: 400px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

.body-input{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width:93%;
    max-width: 93%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-height: 500px;
}

.home-button-signup {
    color: #111111;
}

.home-button {
    color: white;
}


.home-button {
    color: white;
}
.home-button, .home-button-signup {
    text-decoration: none;
    position: absolute;
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

html, #root, .Router, body {
    height: 100%;
}

@media (max-width: 360px) {
    .course-card{
      width: 100%;
    }
    .review{
      flex-direction: column;
    }
    .submit-review{
        width: 93%;
    }

    .create-review{
        max-width: 95%;
    }
  }

.review-inputs {
    background-color: #111111;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
