.course-title {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    min-height: 50px;
    text-align: left;
    transition: color 1s;
}

.course-link {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 16px;
    height: 50px;
    padding-left: 10px;
}

.course-author {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 13px;
}

.course-title:hover {
    color: #3B83EE;
    transition: color 1s;
}

.course-card {
    text-align: left;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 2px solid black;
    width: 400px;
    min-width: 300px;
    max-width: 400px;
    overflow:hidden;
    flex-grow: 1;
    flex-basis: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    padding-top: 10px;
}

.course-rating {
    padding-left: 10px;
    display: flex;
}

.num-reviews {
    padding-top: 3px;
    padding-left: 3px;
}

.image-id{
    width:100%;
    height:100%;
}
