.review {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.review-logo {
    height: 40px;
    width: 40px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}

.review-date {
    font-size: 13px;
    position: absolute;
    right: 9%;
    padding-bottom: 10px;

}

.review-left{
    flex: 0 0 120px;
    margin-right: 10px;
}

.review-author{
    margin-bottom: 20px;
}


.review-title{
    font-weight: bold;
}


.star-rating, .review-body, .review-title, .star-container{
    text-align: left;
    margin: 1px;
}


