.review-cards {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 90%;
    flex: 1;
    margin-left: 20px;
}

body {
    background-color: whitesmoke;
    font-family: Arial;
    text-align: center;
    justify-content:center;
}


.middle-text {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:10vh;
    font-family: 'Times New Roman', Times, serif;
    min-height:30px;
}

#middle-image{
    color: white;
}

@media (max-width: 400px)
{
    .course-card{
      width: 100%;
    }
}
